doctype html
html
    head
        include ../component/head
        title hello world
    body
        .container
            form(action="/use_api" method="POST")
                .input-group.mb-3
                    input(type="text" class="form-control" placeholder="영화 검색" name = "search")
                    .input-group-append
                        button.btn.btn-outline-secondary(type="submit" id="button-addon2") 검색
        .container
            .row
                each result in movies
                    .card.col-lg-2.mb-3.mr-3       
                        img.card-img-top(src= result.medium_cover_image width="10px" height="300px")
                        .card-body.mb-3.mt-3
                            .div(style="height:100px;")
                                h5.card-title= result.title
                            .div(style="height:300px;")
                                if result.summary.length > 90
                                    p.card-text= result.summary.slice(0,90)+ "..."
                                else
                                    p.card-text= result.summary
                            ul.list-group.list-group-flush
                                li.list-group-itemp= result.genre
                            

